/* Стили для шапки сайта */
.header {
    background-color: #333; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста по центру */
}

.header h1 {
    margin: 0; /* Убираем внешние отступы */
}

.header nav ul {
    list-style: none; /* Убираем маркеры у списка */
    padding: 0; /* Убираем внутренние отступы у списка */
}

.header nav ul li {
    display: inline; /* Располагаем пункты списка горизонтально */
    margin: 0 10px; /* Внешние отступы между пунктами списка */
}

.header nav ul li a {
    color: #fff; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}
/* Стили для блока сбоку */
.sidebar {
    width: 200px; /* Ширина блока */
    float: right; /* Выравнивание блока справа */
    background-color: #f0f0f0; /* Цвет фона блока */
    padding: 20px; /* Внутренние отступы */
}

/* Стили для нижнего колонтитула */
.footer {
    background-color: #333; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px 0; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста по центру */
}